<!--Заголовки-->
<div class="container mt-4">
  <div class="row">

    <div class="col-sm-6">
      <h3 class="display-6">заметки</h3>
    </div>

    <div class="col-sm-2">
      <h3 class="display-6">теги</h3>
    </div>

    <div class="col-sm-2">
      <h3 class="display-6">напоминание</h3>
    </div>

  </div>
</div>

<!--Добавить новую заметку-->
<div class="card mt-2" style="background-color: snow ">
  <form class="container mt-4">
    <div class="row">

      <div class="col-sm-5">
        <div class="container">
          <div class="mb-3">
            <textarea class="form-control" rows="1" id="note-text" placeholder="Введите заголовок" name="text"></textarea>
          </div>
        </div>
      </div>

      <div class="col-sm-3 text-center">

        <select [(ngModel)]="selected" name="tags" placeholder="select" (ngModelChange)="onOptionsSelected()">
          <option *ngFor="let tag of tagsList" [ngValue]="tag">{{tag.tagText}}</option>
        </select>

      </div>

      <div class="col-sm-3">
        <div class="md-form" id="customDays">
          <input type="datetime-local" id="datetime-reminder" class="form-control">
          <i class="fas fa-calendar input-prefix" tabindex=0></i>
        </div>
      </div>

      <div class="col-sm-1">
        <button type="submit" class="btn btn-primary">+</button>
      </div>

    </div>


      
    <div class="row">

      <div class="col-sm-5">
        <div class="container">
          <div class="mb-3">
            <textarea class="form-control" rows="1" id="note-text" placeholder="Введите текст заметки" name="text"></textarea>
          </div>
        </div>
      </div>

    </div>

  </form>
</div>

<!--Список заметок-->
<div *ngFor="let note of notesList">

  <div class="card text-dark mt-2">
    <div class="container mt-4">
      <div class="row">

        <div class="col-sm-6">
          <h3>{{note.noteHeader}}</h3>
          <p>{{note.noteText}}</p>
        </div>

        <div class="col-sm-2">
          <!--<p>{{getNoteTags('note.noteId')}}</p>-->
        </div>

        <div class="col-sm-2">
          <p>{{note.reminderDate | date : 'd.M.yyyy, HH:mm'}}</p>
        </div>

        <div class="col-sm-2">
          <div class="container">
            <div class="row mt-2">
              <button type="button" class="btn btn-primary btn-sm">Редактировать</button>
            </div>
            <div class="row mt-2">
              <button type="button" class="btn btn-danger btn-sm">Удалить</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<!-- Footer-->
<div id="footer" class="footer row mt-4">
</div>
